body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(242, 229, 179);
    color: rgb(19, 40, 76)
}
header {
    color: rgb(19, 40, 76);;
    height: 200px;
    background-color: rgb(197, 213, 165);
    display: flex;
    text-align: center;
    padding: 10px;
}